@import "tailwindcss";

@theme {
  --color-tfc-black: #000000;
  --color-tfc-dark: #121212;
  --color-tfc-gray: #f5f5f5;
  --color-tfc-accent: #ffffff;
  --color-tfc-text-muted: #888888;

  --font-sans: 'Inter', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-script: 'Great Vibes', cursive;
}

@layer base {
  body {
    @apply bg-black text-black font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-oswald tracking-wide;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}